* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {

    background-image: url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: 99vw 50vh;
    height: 56vh;
    position: static;
    border-bottom: solid 3.5em yellow ;

}

h1 {
    color: rgb(255, 208, 0);
    text-shadow: 3px 4px 3px black;
    font-weight: 700;
    font-size: 9vh;
    padding: 0 1rem;

}

#logo img {
    height: 11vw;
}

#logo {
    position: absolute;
    top: 36vh;
    left: 84vw;
    z-index: 3;
    border-radius: 10%;
    border: inset rgba(46, 46, 32, 0.205);
    background-color: rgba(0, 0, 0, 0.651);
}

@media (max-width: 800px) { 
    #logo img{
       height: 6.3em ;
    }
    #logo{
        position: absolute;
        top: 15em;
        left: 77vw;
        border-radius: .5em;
    }
    .nav {
        position: relative;
        bottom: 2.5vh;
    }
    #fig1 {
        margin: 0em;
    }    
    
 }


main {
    display: inline;
    margin: 1em;
}

div nav {
    position: relative;
    bottom: 69vh;
    background-color: rgb(230, 180, 74);
    width: 18vw;
    padding: 6vh 0vh;
    
    
}

div nav a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    
}

div nav a:hover {
    transform: scale(1.2);
    transition: all;
    background-color: rgb(230, 216, 97);
    width: 16.4vw;
       
}

#upcoming {
    position: absolute;
    top: 47.5vh;
    left: 38vw;
    
    padding: 1vh;
    color: black;
    z-index: 1;
}
section{
    display: inline-block;
}
.articulos {
    
    padding: 0;
    position: relative;
    top: 2em;
    left: 24vw;
    color: black;
    text-align: justify;
   
}

#fig1 img {
    margin: 3em;
    height: 27vh;
    border: double black;
    border-radius: 100%;
}