* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 30, 30);
}

header {
    display: block;
}

.contenedor-head {
    height: auto;
    background: url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 99vw 24vh;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(69.6deg, rgba(0, 0, 0, 0.83) 16.2%, rgb(214, 197, 67, 0.83) 52%, rgb(0, 0, 0, 0.9) 100.2%);
    height: 20vh;
}

.head h1 {
    color: rgb(255, 208, 0);
    text-shadow: 3px 4px 3px black;
    font-weight: 700;
    font-size: 10vh;
    padding: 0vh 5vh;
    font-family: 'Courier New', Courier, monospace;
}

.logotipo img {
    height: 26vh;
    padding: 1vh 4vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: black;
}

nav a {
    font-size: xx-large;
    margin: 1vh;
    padding: 1vh;
    color: rgb(255, 188, 150);
    text-decoration: none;
}

nav a:hover {
    transform: scale(1.2);
    transition: all;
    color: orange;
}

header .title-page {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 1vh solid black;
    border-bottom: 1vh solid black;
    background-color: rgb(61, 53, 6);
    color: whitesmoke;
    font-size: larger;
    height: 10vh;
}

.title-page h2 {
    text-decoration: underline;
    padding-bottom: 1vh;
}

main {

    color: white;
}

.cuerpo {
    height: auto;
    padding: 2vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.info {
    width: 60vw;
}

.imagen {

    padding: 2em;
}

.imagen figure img {
    height: 16em;
    border-radius: 3em;
    border: solid rgb(168, 3, 3);

}

.info article,
.game-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-info {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info div {
    padding: 1em;
}

.game-info .table table {
    border-collapse: collapse;
    border: solid 0.35em rgb(231, 178, 3);   
    background-color: rgba(0, 0, 0, 0.603)
}
th, td {
    padding: 1.5vh 2vw;
    border: solid rgb(156, 121, 4);
    text-align: center;
}
th{
    border: solid 0.35em rgb(231, 178, 3);
    text-transform: uppercase;
    background-color: rgb(80, 53, 0);
}
table .location {
    text-transform: capitalize;
}
.info-foot div p {
    padding: 0.5em;
}
.contacto {
    display: flex;
    justify-content: space-between;
}

.info article {
    padding: 1.5em;
    text-align: justify;
}
article h2 {
    padding-bottom: 0.5em;
}

article ol{
    padding-left: 2vw;
}
ol h3 {
    padding-top: 1.5vw ;
    padding-bottom: 0.5vw;
}
.sub-lista li {
    padding: 1vh 2vh;
}
.lista-desordenada{
    padding: 2vh 3vw;

}
.contac-us {
    padding: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contac-us p, #index-info article {
    padding: 1em;
    font-size: larger;
}